<ion-header>
  <ion-navbar color="primary">
      <ion-title>Go Fidelize</ion-title>   
  </ion-navbar>
  
</ion-header>


<ion-content>
 
    <h2 class="head">Última Troca</h2>
    <ion-list class="list1">
        <ion-item *ngFor="let itens of act_changes | orderBy : [order]:ordenation" >
            <ion-thumbnail item-start>
              <img src="{{'http://gofidelize.tempsite.ws/service/lojas/'+itens.img}}">
            </ion-thumbnail>
            <h2 class="title">{{itens.comp}}</h2>
            <p><ion-icon class="icon" name="md-medal"></ion-icon>{{' '+itens.prod+' - '+itens.value+' pts.'}}</p>
            <p><ion-icon class="icon" name="md-calendar"></ion-icon>{{' '+itens.date}} </p>
            <p><ion-icon class="icon" name="time"></ion-icon>{{' '+itens.hour}} </p>
            
          </ion-item>
       </ion-list>
    <h2 class="head">Histórico</h2>
    <ion-list class="list2">
    <ion-item *ngFor="let item of changes | orderBy : [order]:ordenation" >
        <ion-thumbnail item-start>
          <img src="{{'http://gofidelize.tempsite.ws/service/lojas/'+item.img}}">
        </ion-thumbnail>
        <h2 class="title">{{item.comp}}</h2>
        <p><ion-icon class="icon" name="md-medal"></ion-icon>{{' '+item.prod+' - '+item.value+' pts.'}}</p>
        <p><ion-icon class="icon" name="swap"></ion-icon>{{' '+item.count+'x'}}</p>
        
      </ion-item>
   </ion-list>
</ion-content>
