page-my-changes {
    .info{
        width: 100%;
        background-color: color($colors, fourth);
        padding: 5px;
        text-align: center;
        color: color($colors,light);
        font-weight: bold;
      }

      .infos{
        text-align: center;
        height: 30px;
        font-size: 16px;
        font-weight: bold;
        
    }

    .info-user{
      width: 100%;
      height: auto;
      font-size: 20px;
      color: color($colors,fonts);
      background-color: #fff;
      b{
        margin-left: 1%;
        color: color($colors,primary);
      }
    }
    
    .head{
      margin-top: 0%;
      background-color: color($colors,secondary);
      color: #fff;
      padding: 1%;
      font-size: 18px;
      text-align: center;
    }

    .list1{
        .list-title{
            font-weight: bold;
            padding: 0;
            font-size: 1.2rem;
            margin-left: 5px;
          }
          .list p{
            font-size: 0.2rem;
          }
          .icon{
            color: color($colors,primary);
          }
          .list-content{
            font-size: 1em;
            color: #ccc;
            padding: 0px;
          }
          img{
            height: 100px;
            width: 100px;
          } 
    }

    .list2{
        height: 50px;
        border-radius: 5px;
  
        .list-title{
          font-weight: bold;
          padding: 0;
          font-size: 1.2rem;
          margin-left: 5px;
        }
        .list p{
          font-size: 0.2rem;
        }
        .icon{
          color: color($colors,primary);
        }
        .list-content{
          font-size: 1em;
          color: #ccc;
          padding: 0px;
        }
        img{
          height: 100px;
          width: 100px;
        }
        .ends{
          height: 45px;
          margin-left: 5px;
        }
      }
      .title{
        color: color($colors,primary);
        font-weight: bold;
      }
}
