<ion-header>
  <ion-navbar color="primary">
      <ion-title>Go Fidelize</ion-title>
      <ion-buttons end>
        
      </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{'http://gofidelize.tempsite.ws/service/lojas/'+imgad}}">
          </ion-thumbnail>
          <h2 class="title">{{namead}}</h2>
          <p ><ion-icon name="map" icon-left></ion-icon>{{' '+street+', '+number}}</p>
          <p><ion-icon name="call"></ion-icon>{{' '+phone}}</p>
          <p><ion-icon name="contacts"></ion-icon>{{' '+count+ ' Pessoas foram a essa loja'}}</p>
          </ion-item>
         
        </ion-list>
  <ion-card>
    <ion-card-header>
      <img src="{{'http://gofidelize.tempsite.ws/service/img/'+img}}"/>
    </ion-card-header>
    <ion-card-content>
        <ion-fab right middle>
            <button ion-fab ><ion-icon name="add"></ion-icon></button>
            <ion-fab-list side="top">
              <button ion-fab (click)="route(adress)"><ion-icon name="pin"></ion-icon></button>
              <button ion-fab (click)="call(phone)"><ion-icon name="call"></ion-icon></button>
            </ion-fab-list>
        </ion-fab>
      <h2 class="h2-title">{{name}}</h2>
      <span color="fonts">{{desc}}</span>
      <p>{{value}} pts.</p>
      <button large ion-button block type="" *ngIf="score >= value" (tap)="exchange(cpf,fk_ad,pid,value)">TROCAR</button>
      <span class="minus-score" *ngIf="score < value">Faltam {{value-score+' Pts.'}}</span>
    </ion-card-content>
  </ion-card>
  <!--<ion-footer class="footer" ion-fixed>
    <div class="score-footer">
      <div class="top">
      Valor: {{itens.val+' Pts.'}}
    </div>
    
    </div>
   
    <div>
      <button ion-button type="" *ngIf="score >= itens.val" (tap)="exchange(cpf,1,itens.id_cat, itens.val)">TROCAR</button>
      <span class="minus-score" *ngIf="score < itens.val">Faltam {{itens.val-score+' Pts.'}}</span>
    </div>
  
</ion-footer>--> 
  
</ion-content>
