<ion-header>

  <ion-navbar color="primary">
    <ion-title>Go Fidelize</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itens" (tap)="goTo(item)">
      <ion-thumbnail item-start>
        <img src="{{'http://gofidelize.tempsite.ws/service/lojas/'+item.imgad}}">
      </ion-thumbnail>
      <h2 class="title">{{item.title}}</h2>
      <p color="text">Valido até {{item.dt_end}}</p>
      <button ion-button clear item-end *ngIf="item.new == 1"><ion-badge>novo</ion-badge></button>
    </ion-item>
  </ion-list>
</ion-content>
