<!--
  Generated template for the SigupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Terapia Continuada</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="head">Cadastro</h2>
  
  <div class="infos">
    <form #signupForm="ngForm">
        
      <ion-list inset>
        
        <ion-item>
          <ion-label>
            Nome
          </ion-label>
          <ion-input [(ngModel)]="user.name" placeholder="Nome" type="text" name="name" required minlength="4"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                Email
              </ion-label>
          <ion-input [(ngModel)]="user.email" placeholder="Email" type="email" name="email" required #email="ngModel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                Nascimento
              </ion-label>
          <ion-datetime placeholder="Nascimento" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" name="birth" [(ngModel)]="user.birth"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>
                Telefone
              </ion-label>
            <ion-input  type="text" name="phone" [brmasker]="{phone:true}" [(ngModel)]="user.phone" required></ion-input>
            <!-- <div class="form-error" *ngIf="phone.errors.required">
                <span>Telefone obrigatório!</span>
              </div> -->
          </ion-item>
        <ion-list>
      <ion-item>
          <ion-label>
              Sexo
            </ion-label>
        <ion-select [(ngModel)]="user.fkgender" name="fkgender" #fkgender="ngModel">
          <ion-option value="" disabled="true">Sexo</ion-option>
          <ion-option value="1">Feminino</ion-option>
          <ion-option value="2">Masculino</ion-option>
          <ion-option value="3">Outro</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
        <!-- <div class="form-error" *ngIf="email.invalid && email.touched">
          <span>Email é obrigatório</span>
        </div> -->
        <ion-item>
            <ion-label>
                Senha
              </ion-label>
          <ion-input [(ngModel)]="user.pass"  type="password" name="pass" required minlength="6" maxlength="12"  #pass="ngModel"></ion-input>
        </ion-item>
        <!-- <div class="form-error" *ngIf="pass.invalid && pass.dirty">
           <div *ngIf="pass.errors.required">
            <span>Senha obrigatória!</span>
          </div>
          <div *ngIf="pass.errors.minlength">
            <span>Mínimo de 6 caracteres!</span>
          </div>
          <div *ngIf="pass.errors.maxlength">
            <span>Máximo de 12 caracteres!</span>
          </div> 
          
        </div> -->
      </ion-list>
      <button ion-button block (click)="signUp(user)">CADASTRAR</button>
      
    </form>
  </div>

</ion-content>
